# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Directories
reports/
.mypy_cache/
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg-info/

# Misc
.env
.envrc
.vscode/
.idea/
hotfix.sh
config.json
